* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #FF5733;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 40px;
    text-align: center;
}

/* Productos estilo */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    border-radius: 10px;
}

.product-item h2 {
    color: #FF5733;
    margin-bottom: 10px;
}

.product-item p {
    color: #333;
}

.price {
    color: #28a745;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

.button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #FF5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #C70039;
}